.fixed_navi_body{
    padding-top:40px;
//    padding-bottom:40px;
}
.no_fixed_navi_body{
    padding-top:10px;
//    padding-bottom:40px;
}
.container-lead{
    padding-top:20px;
    background-color:#005E9C;
    margin-bottom:10px;
//    background-image: -moz-linear-gradient(bottom, #ffffff, #e6e6e6);
//    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
//    background-image: -webkit-linear-gradient(bottom, #ffffff, #e6e6e6);
//    background-image: -o-linear-gradient(bottom, #ffffff, #e6e6e6);
//    background-image: linear-gradient(to top, #ffffff, #e6e6e6);
//    background-repeat: repeat-x;
//    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#ffffffff', startColorstr='#ffe6e6e6', GradientType=0);
//    *background-color: #e6e6e6;
//    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

//    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.container-narrow{
    width:960px;
}
.footer {
    background: url("/web/img/footer.png") repeat scroll 0 0 transparent;
    color: #CCCCCC;
    margin: 30px 0 0;
    padding: 36px 0 10px;
}
.grid-title{

}
.grid-title { 
    border-bottom:2px dashed gray; 
    height:24px; 
    width:100%; 
    margin: 30px 0 50px 0;
}
.grid-title h3 { 
    margin:0 auto; 
    padding:1px 0; 
    display:block; 
    text-align:center; 
    width:300px; 
    border-radius:20px; 
    background: none repeat scroll 0 0 #dadcdd; 
    font-weight:700; 
    font-size:18px; 
    color:#47494a; 
    text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.4);  
    box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8); 
}


.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.thumbnail{
    text-align:center;
}