.fixed_navi_body{
//    padding-top:60px;
//    padding-bottom:40px;
}
.container-lead{

    background-color:#F4F5F4;
    background-image: -moz-linear-gradient(bottom, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(bottom, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(bottom, #ffffff, #e6e6e6);
    background-image: linear-gradient(to top, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#ffffffff', startColorstr='#ffe6e6e6', GradientType=0);
    *background-color: #e6e6e6;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.container-narrow{
    width:960px;
}
.navbar {
    color: #777777;
    margin-bottom: 20px;
    overflow: visible;
}

.navbar-inner{
    border:none;
    box-shadow:none;
}

.footer {
    background: url("/web/img/footer.png") repeat scroll 0 0 transparent;
    color: #CCCCCC;
    margin: 30px 0 0;
    padding: 36px 0 10px;
}