.fixed_navi_body{
    padding-top:40px;
//    padding-bottom:40px;
}
.no_fixed_navi_body{
    padding-top:10px;
//    padding-bottom:40px;
}
.container-lead{
    padding-top:40px;
//    background-color:#005E9C;
    margin-bottom:10px;
//    background-image: -moz-linear-gradient(bottom, #ffffff, #e6e6e6);
//    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
//    background-image: -webkit-linear-gradient(bottom, #ffffff, #e6e6e6);
//    background-image: -o-linear-gradient(bottom, #ffffff, #e6e6e6);
//    background-image: linear-gradient(to top, #ffffff, #e6e6e6);
//    background-repeat: repeat-x;
//    filter: progid:DXImageTransform.Microsoft.gradient(endColorstr='#ffffffff', startColorstr='#ffe6e6e6', GradientType=0);
//    *background-color: #e6e6e6;
//    /* Darken IE7 buttons by default so they stand out more given they won't have borders */

//    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.container-narrow{
    width:960px;
}
.footer {
    background: url("/web/img/footer.png") repeat scroll 0 0 transparent;
    color: #CCCCCC;
    padding: 36px 0 10px;
}
.grid-title { 
    border-bottom:2px dashed gray; 
    height:24px; 
    width:100%; 
    margin: 30px 0 50px 0;
}
.grid-title h3 { 
    margin:0 auto; 
    padding:1px 0; 
    display:block; 
    text-align:center; 
    width:300px; 
    border-radius:20px; 
    background: none repeat scroll 0 0 #dadcdd; 
    font-weight:700; 
    font-size:18px; 
    color:#47494a; 
    text-shadow: 1px 2px 1px rgba(255, 255, 255, 0.4);  
    box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.8); 
}

.thumbnail{
    text-align:center;
}

.homepage_accord .accordion-heading{
    background-color:#005E9C;
}
.homepage_accord .accordion-heading a{
    color:white;
    font-weight:bold;
}
.homepage_accord .accordion-body{
    background-color:silver;
}
.section-divide{
    padding-bottom:20px;
}