<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Admin Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/web/js/jquery.js"></script>
    <script src="/web/js/bootstrap.min.js"></script>
    <script src="/web/js/application.js"></script>

    <!-- Le styles -->
    <link href="/web/css/bootstrap.css" rel="stylesheet">
    <!--<link href="/web/css/responsive.css" rel="stylesheet">-->
    <link href="/web/css/custom.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/web/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/web/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/web/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/web/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/web/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/web/ico/favicon.png">

  </head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="./index.html">En</a>
              </li>
              <li class="">
                <a href="./getting-started.html">Zh</a>
              </li>
              <li class="pull-right">
                <a href="./customize.html">Logout</a>
              </li>
            </ul>
        </div>
      </div>
    </div>

<ul class="nav nav-tabs">
 <li class="active">
 <a href="#">En</a>
 </li>
 <li><a href="#">Zh</a></li>
</ul>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <ul class="nav nav-list bs-docs-sidenav affix">
          <li><a href="#navi" id="naviBtn"><i class="icon-chevron-right"></i> Navigations</a></li>
          <li><a href="#page" id="pageBtn"><i class="icon-chevron-right"></i> Pages</a></li>
          <li><a href="#carousel" id="carouselBtn"><i class="icon-chevron-right"></i> Carousels</a></li>
          <li class=""><a href="#article" id="articleBtn"><i class="icon-chevron-right"></i> Articles</a></li>
      </ul>
    </div>
    <div class="span10" id="mainArea">
      
    </div>
  </div>
</div>

<script language="javascript">
  $(document).ready(function() {
  });
</script>
</body>
</html>