<%
// ui can be badge/label
// type can be[success, info, important, warning, inverse]
var ui = config.ui==='badge'?"badge":"label";%>
<span id="<%=uiId%>" class="<%=ui%> <%=config.type?ui+"-"+config.type:""%>"><%=label%></span> 